In [6]:
cd

C:\Users\John's PC

In [7]:
os.listdir()

NameError: name 'os' is not defined

In [8]:
import os

In [10]:
os.getcwd()

"C:\\Users\\John's PC"

In [12]:
os.chdir(r"C:\Users\John's PC\Documents\Python Stuff\Projects\Data Science\Categorical\Bank Marketing")

In [13]:
os.getcwd()

"C:\\Users\\John's PC\\Documents\\Python Stuff\\Projects\\Data Science\\Categorical\\Bank Marketing"

In [18]:
%run connect.py

Database connected succesful

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,1.0,58,management,married,tertiary,no,2143.0,yes,no,u,5.0,may,261.0,1.0,-1.0,0.0,unknown,no
1,2.0,44,technician,single,secondary,no,29.0,yes,no,u,5.0,may,151.0,1.0,-1.0,0.0,unknown,no
2,3.0,33,entrepreneur,married,secondary,no,2.0,yes,yes,u,5.0,may,76.0,1.0,-1.0,0.0,unknown,no
3,4.0,47,blue-collar,married,unknown,no,1506.0,yes,no,u,5.0,may,92.0,1.0,-1.0,0.0,unknown,no
4,5.0,33,unknown,single,unknown,no,1.0,no,no,u,5.0,may,198.0,1.0,-1.0,0.0,unknown,no
5,6.0,35,management,married,tertiary,no,231.0,yes,no,u,5.0,may,139.0,1.0,-1.0,0.0,unknown,no
6,7.0,28,management,single,tertiary,no,447.0,yes,yes,u,5.0,may,217.0,1.0,-1.0,0.0,unknown,no
7,8.0,42,entrepreneur,divorced,tertiary,yes,2.0,yes,no,u,5.0,may,380.0,1.0,-1.0,0.0,unknown,no
8,9.0,58,retired,married,primary,no,121.0,yes,no,u,5.0,may,50.0,1.0,-1.0,0.0,unknown,no
9,10.0,43,technician,single,secondary,no,593.0,yes,no,u,5.0,may,55.0,1.0,-1.0,0.0,unknown,no
10,11.0,41,admin.,divorced,secondary,no,270.0,yes,no,u,5.0,may,222.0,1.0,-1.0,0.0,unknown,no
11,12.0,29,admin.,single,secondary,no,390.0,yes,no,u,5.0,may,137.0,1.0,-1.0,0.0,unknown,no
12,13.0,53,technician,married,secondary,no,6.0,yes,no,u,5.0,may,517.0,1.0,-1.0,0.0,unknown,no
13,14.0,58,technician,married,unknown,no,71.0,yes,no,u,5.0,may,71.0,1.0,-1.0,0.0,unknown,no
14,15.0,57,services,married,secondary,no,162.0,yes,no,u,5.0,may,174.0,1.0,-1.0,0.0,unknown,no
15,16.0,51,retired,married,primary,no,229.0,yes,no,u,5.0,may,353.0,1.0,-1.0,0.0,unknown,no
16,17.0,45,admin.,single,unknown,no,13.0,yes,no,u,5.0,may,98.0,1.0,-1.0,0.0,unknown,no
17,18.0,57,blue-collar,married,primary,no,52.0,yes,no,u,5.0,may,38.0,1.0,-1.0,0.0,unknown,no
18,19.0,60,retired,married,primary,no,60.0,yes,no,u,5.0,may,219.0,1.0,-1.0,0.0,unknown,no
19,20.0,33,services,married,secondary,no,0.0,yes,no,u,5.0,may,54.0,1.0,-1.0,0.0,unknown,no
20,21.0,28,blue-collar,married,secondary,no,723.0,yes,yes,u,5.0,may,262.0,1.0,-1.0,0.0,unknown,no
21,22.0,56,management,married,tertiary,no,779.0,yes,no,u,5.0,may,164.0,1.0,-1.0,0.0,unknown,no
22,23.0,32,blue-collar,single,primary,no,23.0,yes,yes,u,5.0,may,160.0,1.0,-1.0,0.0,unknown,no
23,24.0,25,services,married,secondary,no,50.0,yes,no,u,5.0,may,342.0,1.0,-1.0,0.0,unknown,no
24,25.0,40,retired,married,primary,no,0.0,yes,yes,u,5.0,may,181.0,1.0,-1.0,0.0,unknown,no
25,26.0,44,admin.,married,secondary,no,-372.0,yes,no,u,5.0,may,172.0,1.0,-1.0,0.0,unknown,no
26,27.0,39,management,single,tertiary,no,255.0,yes,no,u,5.0,may,296.0,1.0,-1.0,0.0,unknown,no
27,28.0,52,entrepreneur,married,secondary,no,113.0,yes,yes,u,5.0,may,127.0,1.0,-1.0,0.0,unknown,no
28,29.0,46,management,single,secondary,no,-246.0,yes,no,u,5.0,may,255.0,2.0,-1.0,0.0,unknown,no
29,30.0,36,technician,single,secondary,no,265.0,yes,yes,u,5.0,may,348.0,1.0,-1.0,0.0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45181,45182.0,46,blue-collar,married,secondary,no,6879.0,no,no,c,15.0,nov,74.0,2.0,118.0,3.0,failure,no
45182,45183.0,34,technician,married,secondary,no,133.0,no,no,c,15.0,nov,401.0,2.0,187.0,5.0,success,yes
45183,45184.0,70,retired,married,primary,no,324.0,no,no,c,15.0,nov,78.0,1.0,96.0,7.0,success,no
45184,45185.0,63,retired,married,secondary,no,1495.0,no,no,c,16.0,nov,138.0,1.0,22.0,5.0,success,no
45185,45186.0,60,services,married,tertiary,no,4256.0,yes,no,c,16.0,nov,200.0,1.0,92.0,4.0,success,yes
45186,45187.0,59,unknown,married,unknown,no,1500.0,no,no,c,16.0,nov,280.0,1.0,104.0,2.0,failure,no
45187,45188.0,32,services,single,secondary,no,1168.0,yes,no,c,16.0,nov,411.0,1.0,-1.0,0.0,unknown,yes
45188,45189.0,29,management,single,secondary,no,703.0,yes,no,c,16.0,nov,236.0,1.0,550.0,2.0,success,yes
45189,45190.0,25,services,single,secondary,no,199.0,no,no,c,16.0,nov,173.0,1.0,92.0,5.0,failure,no
45190,45191.0,32,blue-collar,married,secondary,no,136.0,no,no,c,16.0,nov,206.0,1.0,188.0,3.0,success,yes
45191,45192.0,75,retired,divorced,tertiary,no,3810.0,yes,no,c,16.0,nov,262.0,1.0,183.0,1.0,failure,yes
45192,45193.0,29,management,single,tertiary,no,765.0,no,no,c,16.0,nov,238.0,1.0,-1.0,0.0,unknown,yes
45193,45194.0,28,self-employed,single,tertiary,no,159.0,no,no,c,16.0,nov,449.0,2.0,33.0,4.0,success,yes
45194,45195.0,59,management,married,tertiary,no,138.0,yes,yes,c,16.0,nov,162.0,2.0,187.0,5.0,failure,no
45195,45196.0,68,retired,married,secondary,no,1146.0,no,no,c,16.0,nov,212.0,1.0,187.0,6.0,success,yes
45196,45197.0,25,student,single,secondary,no,358.0,no,no,c,16.0,nov,330.0,1.0,-1.0,0.0,unknown,yes
45197,45198.0,36,management,single,secondary,no,1511.0,yes,no,c,16.0,nov,270.0,1.0,-1.0,0.0,unknown,yes
45198,45199.0,37,management,married,tertiary,no,1428.0,no,no,c,16.0,nov,333.0,2.0,-1.0,0.0,unknown,no
45199,45200.0,34,blue-collar,single,secondary,no,1475.0,yes,no,c,16.0,nov,1166.0,3.0,530.0,12.0,other,no
45200,45201.0,38,technician,married,secondary,no,557.0,yes,no,c,16.0,nov,1556.0,4.0,-1.0,0.0,unknown,yes
45201,45202.0,53,management,married,tertiary,no,583.0,no,no,c,17.0,nov,226.0,1.0,184.0,4.0,success,yes
45202,45203.0,34,admin.,single,secondary,no,557.0,no,no,c,17.0,nov,224.0,1.0,-1.0,0.0,unknown,yes
45203,45204.0,23,student,single,tertiary,no,113.0,no,no,c,17.0,nov,266.0,1.0,-1.0,0.0,unknown,yes
45204,45205.0,73,retired,married,secondary,no,2850.0,no,no,c,17.0,nov,300.0,1.0,40.0,8.0,failure,yes
45205,45206.0,25,technician,single,secondary,no,505.0,no,yes,c,17.0,nov,386.0,2.0,-1.0,0.0,unknown,yes
45206,45207.0,51,technician,married,tertiary,no,825.0,no,no,c,17.0,nov,977.0,3.0,-1.0,0.0,unknown,yes
45207,45208.0,71,retired,divorced,primary,no,1729.0,no,no,c,17.0,nov,456.0,2.0,-1.0,0.0,unknown,yes
45208,45209.0,72,retired,married,secondary,no,5715.0,no,no,c,17.0,nov,1127.0,5.0,184.0,3.0,success,yes
45209,45210.0,57,blue-collar,married,secondary,no,668.0,no,no,t,17.0,nov,508.0,4.0,-1.0,0.0,unknown,no
45210,45211.0,37,entrepreneur,married,secondary,no,2971.0,no,no,c,17.0,nov,361.0,2.0,188.0,11.0,other,no